Repository actility/device-catalog, pull requests merged in 2024-04, with the labels that each got.

#134 fix range of accelero values
  vendors/abeeway/drivers/asset-tracker/main.js
  vendors/abeeway/drivers/asset-tracker/src/index.js
  vendors/abeeway/drivers/asset-tracker/src/resources/parameters.json
Labels: bug

#135 TXIF-2871 - Adding class C profiles to Milesight AM319 model
  vendors/milesight-iot/models/am319/model.yaml
Labels: new profile

#129 TXIF-2855 - Adding class C to Adeunis Dry Contacts
  vendors/adeunis/models/dry-contacts_v2/model.yaml
  vendors/adeunis/profiles/adeunis_RFGroup2_1.0.2revB_classC.yaml
  vendors/adeunis/profiles/adeunis_RFGroup4_1.0.2revB_classC.yaml
Labels: new profile

#127 TXIF-2835 - Adding examples and sensors to Cicicom Parking Sensor S-LG-I3 model
  vendors/cicicom/model/s-lg-i3/model.yaml
Labels: enhancement

#126 TXIF-2829 - Adding Pyrescom vendor and EPnrj device
  vendors/pyres/models/epnrj/epnrj.png
  vendors/pyres/models/epnrj/model.yaml
  vendors/pyres/profiles/pyrescom_RFGroup1_1.0.3a_classC.yaml
  vendors/pyres/pyres-logo.png
  vendors/pyres/pyres-small.png
  vendors/pyres/vendor.yaml
Labels: new profile, new vendor, new model

#124 TXIF-2850 - Adding Milesight AM308
  vendors/milesight-iot/drivers/am300-series/examples/am300.examples.json
  vendors/milesight-iot/drivers/am300-series/package.json
  vendors/milesight-iot/models/am308/am308.png
  vendors/milesight-iot/models/am308/model.yaml
Labels: enhancement, new model

#123 TXIF-2810 Diehl Metering HRLc G3
  vendors/diehl/diehl-logo.png
  vendors/diehl/diehl-small.png
  vendors/diehl/models/hrlc-g3/hrlc-g3.png
  vendors/diehl/models/hrlc-g3/model.yaml
  vendors/diehl/profiles/diehl_RFGroup1_1.0.0-1.0.1_classA.yaml
  vendors/diehl/vendor.yaml
Labels: new profile, new vendor, new model

#119 TXIF-2818 - Watteco TH4 change device profile to LoRaWAN 1.0
  vendors/watteco/models/th_v4/model.yaml
  vendors/watteco/profiles/watteco_RFGroup1_1.0.0-1.0.1_classA.yaml
Labels: enhancement, new profile

#125 TXIF-2837 - MClimate Fan Coil
  vendors/mclimate/drivers/fan-coil/driver.yaml
  vendors/mclimate/models/fan-coil/fan-coil.png
  vendors/mclimate/models/fan-coil/model.yaml
  vendors/mclimate/profiles/mclimate_RFGroup1_1.0.3a_classC.yaml
Labels: new driver, new profile, new model

#132 TXIF-2860 add polysense noise meter for drei
  vendors/polysense/drivers/WxS8800-362021/driver.yaml
  vendors/polysense/models/WxS8800-362021/model.yaml
  vendors/polysense/models/WxS8800-362021/noise-meter.png
  vendors/polysense/polysense-logo.png
  vendors/polysense/polysense-small.png
  vendors/polysense/profiles/polysen_RFGroup1_1.0.2a_classA.yaml
  vendors/polysense/profiles/polysen_RFGroup2_1.0.2a_classA.yaml
  vendors/polysense/profiles/polysen_RFGroup4_1.0.2a_classA.yaml
  vendors/polysense/vendor.yaml
Labels: new driver, new profile, new vendor, new model
